# Ignorar archivo de configuración con datos sensibles
.env

# Ignorar carpetas de Docker
db_data/
vendor/

# Ignorar archivos temporales de sistema
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Ignorar archivos de sistema de VSCode, PHPStorm, etc.
.vscode/
.idea/
